<div class="home-container m-9 h-[70vh] justify-around items-center">
  <div class="hero">
    <div class="hero-text">
      <h1 class="hero-h">Votre Espace Agent Bancaire</h1>
      <p class="hero-par">
        Gérez efficacement les opérations bancaires pour vos clients. Accédez
        rapidement aux informations cruciales et offrez un service exceptionnel.
        Votre outil dédié pour simplifier et optimiser les interactions
        bancaires.
      </p>
    </div>
    <div class="hero-img">
      <img src="../../assets/banner-purple.png" alt="" />
    </div>
  </div>
  <div class="home-actions">
    <a routerLink="/TransactionsType" class="action-btn primary"
      >Commencer une transaction</a
    >
    <a routerLink="" class="action-btn secondary">Clients récents</a>
  </div>
</div>
